header{
    display: flex;
    gap: 10%;
    justify-content: center;
    background-color: white;
}

.DivOptions{
    display: flex;
    padding-top: 1%;
}

.lnk{
    padding: 0;
    width: 10%;
}

.imgs{
    width: 100%;
}